//цвета
@header-bg: #1d2631;
@header-menu: #283645; //выпадающее меню в хэдере + заглавная строка таблицы
@header-text: white; //
@menu-bord-top: #485461; //верхняя рамка элемента выпадающего меню в хэдере
@menu-bord-bot: black; //нижняя рамка элемента выпадающего меню в хэдере
@carousel-body: #bec2c7; //кружок карусели
@carousel-body-act: white;  //активный кружок карусели
@carousel-border-act: #283645; //рамка активного кружка карусели
@table-border: #e5e5e5; //рамки таблицы
@cont-text: #d8456d; //текст контакты футер главная

@opensans: 'Open Sans', sans-serif;