.index-footer{
    
    &__title{
        font-size: 24px;
        font-weight: lighter;
        margin: 0;
        padding-bottom: 10px;
    
    }
    
    &__contacts-wrapper{
        padding-left: 6%;
        padding-right: 6%;
    
    }
    
    &__contacts{
    
    }
    
    &__contacts-title{
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 4px;
    }
    
    &__contacts-text{
        margin: 0;
        font-size: 24px;
        font-weight: lighter;
        color: @cont-text;
        padding-bottom: 20px;
    }
    
    &__map-wrapper{
        width: 100%;
        height: 220px;
    }
    
    &__map-cover-wrapper{
        position: relative;
    }
    
    &__map-cover{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        background-image: url("../img/triangle-white-footer.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        z-index: 999;
    }
    
    
}

    /* следующий селектор нужен для того, чтобы на главной странице в моб. версии не появлялся футер с лого, соц.кнопками и разработчиком */
div.main-footer{
    display: none;
}     

.main-footer{
    display: block;
    padding-top: 60px;
    
    &__logo-wrapper{
        padding-bottom: 40px;
    }
        
    &__copyright-wrapper{
        padding-bottom: 45px;        
    }
        
    &__copyright-span{
        
    }
        
    &__copyright-link{
        display: inline-block;
        vertical-align: middle;
    }
    
    &__social-wrapper{
        vertical-align: middle;
        text-align: center;
        padding-bottom: 35px;
    }
}
    
.social-btn{
    display: inline-block;
    width: 45px;
    height: 45px;
    text-decoration: none;
    border: 3px solid @footer-social-border;
    border-radius: 50%;
    margin-right: 12px;
        
    &:last-child{
        margin-right: 0;
    }        
    
    &--twitter{
    }
    
    &--facebook{
    }
    
    &--youtube{
    }
}
    
    

@media (min-resolution: 2dppx){
  
}

@media (min-resolution: 3dppx){
  
}


@media (min-width: @tablet){
    .index-footer{
    
        &__title{
            font-size: 40px;
            padding-left: 12%;
            padding-right: 12%;
        }
        
        &__contacts{
            display: inline-block;
            width: 39%;
            padding-left: 5%;
            padding-right: 5%;
            padding-top:40px;
        }
        
        &__map-wrapper{
            height: 380px;
        }
    }
    
/* возвращаем отображение футера с соц кнопками на главной с шириной экрана больше мобильной */
div.main-footer{
    display: block;
}  
    
    .main-footer{
        display: block;
        min-height: 90px;
        padding-top: 35px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
        font-size: 0;
        
        &__logo-wrapper{
            display: inline-block;
            vertical-align: middle;
            width: 33%;
            
        }
        
        &__copyright-wrapper{
            display: inline-block;
            vertical-align: middle;
            width: 33%;
            text-align: right;
        }
        
        &__copyright-span{
            font-size: 14px;
            padding-right: 10px;
        }
        
        &__copyright-link{
            display: inline-block;
        }
        
        &__social-wrapper{
            display: inline-block;
            vertical-align: middle;
            width: 33%;
            text-align: center;
        }
    }
    
    .social-btn{
        display: inline-block;
        width: 45px;
        height: 45px;
        text-decoration: none;
        border: 3px solid @footer-social-border;
        border-radius: 50%;
        margin-right: 12px;
        
        &:last-child{
            margin-right: 0;
        }        
    
        &--twitter{
        }
        
        &--facebook{
        }
        
        &--youtube{
        }
    }
   
}

@media (min-width: @tablet),
    (min-resolution: 2dppx){
  
}

@media (min-width: @tablet),
    (min-resolution: 3dppx){
 
}


@media (min-width: @desktop){
    
    .index-footer{
    
        &__title{
            padding-left: 27%;
            padding-right: 27%;
            font-size: 50px;
            line-height: 50px;
        }
        
        &__contacts-wrapper{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-left: 4px;
            padding-right: 4px;
        }
        
        &__contacts{
            width: 24%;
            padding-left: 3%;
            padding-right: 3%;
            
            &:first-child{
                order: 0;
            }
            
            &:nth-child(2){
                order: 2;
            }
            
            &:last-child{
                order: 1;
            }
        }
        
        &__map-cover{
            height: 115px;
        }
    } 
    
    .main-footer{
        min-height: 130px;
        padding-top: 65px;
    }
}

@media (min-width: @desktop),
    (min-resolution: 2dppx){
 
}

@media 
    (min-width: @desktop),
    (min-resolution: 3dppx){
        
}