.main-content{
    padding-left: 6%;
    padding-right: 6%;
    padding-top:40px;
    
    &__title-wrapper{
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom:110px;
        
    }
    
    &__title{
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: lighter;
        
        &:last-child{
        margin-bottom: 0;
        }
    }
}

.information-item{
    padding-bottom: 30px;

    &__wrapper{
    
    }
    
    &__title{
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        margin-top: 0;
    
    }
    
    &__text{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;    
    }
    
    &__bg-div{
        background-image: url("../img/information-index-bg.png");
        background-repeat: no-repeat;
        background-position: bottom -85px center;
        background-size: 100%;
        min-height: 290px;
        margin-left: 18%;
        margin-right: 18%;
    }
}

.index-review{
    padding-top: 45px;

    &__name{
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
        font-style: normal;
        padding-bottom:20px;
    }
    
    &__quote{
        font-size: 14px;
        line-height: 30px;
        margin:0;
        padding-bottom:30px;
        
        &::before{
            content: "&laquo;";
        }
        
        &::after{
            content: "&raquo;";
        }
    }
    
    &__list{
    
    }
    
    &__item{
    
    }
}

.index-price{

    &__table{
    
    }
    
    &__table-tr-first{
    
    }
    
    &__span-tariff{
    
    }
    
    &__span-price{
    
    }
    
    &__list-wrapper{
    
    }
    
    &__list{
    
    }
    
    &__item{
    
    }
}